<% provide(:title, "About") %>
      <h1>About</h1>
<p>
  The Ruby Micropost App is an experiment and self-teaching project designed
  around a popular social media website. This was created to both learn and
  showcase Ruby on Rails.
</p>
