<% provide(:title, "Help") %>

    <h1>Help</h1>
<p>
  If you need help deploying this app, see the README at github.com/cthompson0/ruby-micropost-app
  <a href="http://www.github.com/cthompson0/ruby-micropost-app">Github Page</a>.

  Otherwise contact Chuck at chuckthompson27@me.com
</p>
